<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Help :(</title>
</head>

<body>
  <form action="/" method="post">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Content" name="content">
    <input type="submit" placeholder="Create Post">
  </form>

  <%= @post %>
</body>
</html>